<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net48" />
  <package id="Humanizer.Core" version="2.14.1" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Html.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.4" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="4.8.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.DotNet.Interactive" version="1.0.0-beta.23606.2" targetFramework="net48" />
  <package id="Microsoft.DotNet.Interactive.Documents" version="1.0.0-beta.23606.2" targetFramework="net48" />
  <package id="Microsoft.DotNet.Interactive.Formatting" version="1.0.0-beta.23606.2" targetFramework="net48" />
  <package id="Revit_All_Main_Versions_API_x64" version="2024.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.CommandLine" version="2.0.0-beta4.22272.1" targetFramework="net48" />
  <package id="System.CommandLine.NamingConventionBinder" version="2.0.0-beta4.22272.1" targetFramework="net48" />
  <package id="System.Composition" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Convention" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="7.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="6.0.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Channels" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>